$blue  : #0029fd;
$yellow: #ffff05;
$purple: #9007f0;

$bg_col1: #9007f0;
$bg_col2: #ffda05;
$bg_col3: #0029fd;
$bg_dark: #000521;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500;700;900&display=swap');

$paragraph: 300 100%/130% 'Open sans',
Arial,
Sans-serif;
$name: 700 calc(2rem + 5vw)/100% "Roboto",
Helvetica,
Arial,
sans-serif;
$headline: 700 150%/100% "Roboto",
Helvetica,
Arial,
sans-serif;

$weight-main: 900;
$weight-pr  : 700;
$weight-bold: 700;
$weight-read: 400;

*,
::after,
::before {
    margin             : 0;
    padding            : 0;
    box-sizing         : border-box;
    overscroll-behavior: none;
}

html {
    font-size: 100%;
}

html,
body {}

a {
    text-decoration: none;
}

main {
    width                  : 100vw;
    height                 : 100vh;
    background-repeat      : no-repeat;
    background-size        : cover;
    background-position    : center center;
    background-blend-mode  : multiply;
    background-image       : url(../public/img/bg_code.jpg);
    background-color       : #0029fd;
    position               : relative;
    overflow-y             : scroll;
    overflow-x             : hidden;
    //transition           : background 4s;
    overscroll-behavior    : none;
    scroll-snap-type       : y proximity;
    /* Internet Explorer 10+ */
    -ms-overflow-style     : none;
    /* Firefox */
    scrollbar-width        : none;
    scroll-behavior        : smooth;
}

/* Safari and Chrome */
main::-webkit-scrollbar {
    display: none;
}

.start {
    position         : relative;
    height           : 100%;
    width            : 100%;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
    scroll-snap-align: center;

    @media (max-width: 1399px) {
        justify-content: space-evenly;
    }

    @media (min-width: 1200px) {
        flex-direction: row;
    }
}

#field {
    //border         : 1px solid red;
    width          : 40vw;
    height         : 40vw;
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    perspective    : 100vw;
    transform-style: preserve-3d;

    @media (min-width: 1200px) {
        margin-left: auto;
    }
}

#name {
    //position                 : absolute;
    //border                     : 1px solid green;
    height                     : auto;
    display                    : flex;
    flex-direction             : column;
    text-align                 : left;
    justify-content            : center;
    //z-index                  : 1;

    @media (min-width: 1200px) {
        text-align    : left;
        // font-size  : 4vw;
        // line-height: 6vw;
    }

    @media (min-width: 1200px) {
        text-align    : left;
        // font-size  : 4vw;
        // line-height: 6vw;
    }

    h1 {
        font                        : $name;
        // font-size              : calc(2rem + 5vw);
        // line-height            : 100%;
        //background-size           : 100%;
        background                  : linear-gradient(90deg, rgba(255, 255, 5, 1) 30%, rgba(144, 7, 240, 1) 70%, rgb(0, 41, 253) 100%);
        background-clip             : text;
        -webkit-background-clip     : text;
        -webkit-text-fill-color     : transparent;
        -moz-background-clip        : text;
        -moz-text-fill-color        : transparent;
    }
}

#please_scroll {
    display          : flex;
    flex-direction   : column;
    justify-content  : space-between;
    align-items      : center;
    height           : auto;
    width            : 10vh;
    //border         : 1px red solid;
    position         : absolute;
    z-index          : 2;
    left             : calc(50% - 5vh);
    bottom           : 2rem;
    transition       : all 0.5s;

    h5 {
        font-family  : $headline;
        color        : $blue;
        margin-bottom: 2vh;
    }

    #scroll_pointer {
        width: 2rem;


        #arrow {
            fill: $blue;
        }
    }
}

.pr {
    //border                           : 1px red solid;
    // $gap                 : 0px;
    scroll-snap-align                : start;
    width                            : 100%;
    height                           : 100%;
    //max-height                     : 700px;
    align-self                       : center;
    //display                      : grid;
    // gap                  : $gap;
    padding                          : 3vw 3vw 3vw 3vw;


    @media (min-width: 480px) {
        //max-height: 100%;
    }

    @media (min-width: 1200px) {

        max-width            : 1600px;
        margin               : auto;
        display              : grid;
        grid-template-columns: 50% 50%;
    }

    .pr_img,
    .pr_text {
        margin: 10vw 0 10vw 0;

        @media (min-width: 480px) {
            max-width: 600px;
            margin   : 15vw auto;
        }

        @media (min-width: 960px) {
            max-width: 800px;
            margin   : 10vw auto;
        }

        @media (min-width: 1200px) {
            max-width      : 100%;
            margin         : 0px;
            padding        : 5%;
            display        : flex;
            justify-content: center;
            align-items    : center;
        }

        img {
            width     : 94vw;
            height    : 94vw;
            object-fit: cover;

            @media (min-width: 480px) {
                width : 100%;
                height: auto;
            }
        }
    }

    .pr_text .text_container {

        h2 {
            font                   : $headline;
            background             : linear-gradient(90deg, rgba(255, 255, 5, 1) 9%, rgba(144, 7, 240, 1) 35%, rgba(0, 41, 253, 1) 45%);
            background-clip        : text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip   : text;
            -moz-text-fill-color   : transparent;
            margin-bottom          : 1rem;

            @media (min-width: 960px) {
                font-size    : 180%;
                margin-bottom: 1.5rem;
            }
        }

        p {
            color        : white;
            font         : $paragraph;
            margin-bottom: 1rem;

            @media (min-width: 960px) {
                font-size    : 110%;
                margin-bottom: 1.5rem;
            }
        }


        .links {
            width  : 100%;
            display: flex;

            a {
                margin-right: 2rem;
            }

            i {
                color       : rgb(152, 142, 184);
                margin-right: 0.5rem;
            }

            h3 {
                display    : inline;
                font       : $paragraph;
                color      : rgb(126, 118, 150);
                font-weight: 400;

                @media (min-width: 960px) {
                    font-size    : 110%;
                    margin-bottom: 1.5rem;
                }
            }


        }
    }
}



.logo {
    position                    : absolute;
    // width                    : 2vw;
    // height                   : 2vw;
    opacity                     : 1;
    background-size             : contain;
    background-repeat           : no-repeat;
    /* transform                : translateZ(100px); */
    /* transform-origin         : 50% 50% -80px; */
    /* border-radius            : 50%; */
}


.b_radius {
    border-radius: 15%;
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}