$blue  : #0029fd;
$yellow: #ffff05;
$purple: #9007f0;

$bg_col1: #9007f0;
$bg_col2: #ffda05;
$bg_col3: #0029fd;
$bg_dark: #000521;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500;700;900&display=swap');

$paragraph: 300 100%/130% 'Open sans',
Arial,
Sans-serif;
$name: 700 calc(2rem + 5vw)/100% "Roboto",
Helvetica,
Arial,
sans-serif;
$jobtext: 700 calc(1.5rem + 1.5vw)/100% "Roboto",
Helvetica,
Arial,
sans-serif;
$headline: 700 150%/110% "Roboto",
Helvetica,
Arial,
sans-serif;

$weight-main: 900;
$weight-pr  : 700;
$weight-bold: 700;
$weight-read: 400;

*,
::after,
::before {
    margin             : 0;
    padding            : 0;
    box-sizing         : border-box;
    overscroll-behavior: none;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

main {
    width                  : 100vw;
    height                 : 100vh;
    background-repeat      : no-repeat;
    background-size        : cover;
    background-position    : center center;
    background-blend-mode  : multiply;
    background-image       : url(../public/img/bg_code.jpg);
    background-color       : #0029fd;
    position               : relative;
    overflow-y             : scroll;
    overflow-x             : hidden;
    //transition           : background 4s;
    overscroll-behavior    : none;
    scroll-snap-type       : y mandatory;
    /* Internet Explorer 10+ */
    -ms-overflow-style     : none;
    /* Firefox */
    scrollbar-width        : none;
    scroll-behavior        : smooth;

    #contact_link {
        position   : absolute;
        color      : $blue;
        z-index    : 3;
        font       : $paragraph;
        font-size  : 120%;
        font-weight: 500;
        right      : 5vw;
        top        : 5vw;
    }
}

/* Safari and Chrome */
main::-webkit-scrollbar {
    display: none;
}

.start {
    position         : relative;
    height           : 100%;
    width            : 100%;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
    scroll-snap-align: center;

    @media (max-width: 1399px) {
        // justify-content: space-evenly;
    }

    @media (min-width: 1200px) {
        flex-direction: row;
    }
}

#field {
    // border         : 1px solid red;
    width          : 40vw;
    height         : 40vw;
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    perspective    : 100vw;
    transform-style: preserve-3d;

    @media (min-width: 1200px) {
        // margin-left: auto;
    }
}

.flip-box {
    // border                          : rgba(255, 255, 5, 1) 1px solid;
    // position                     : relative;
    //border                     : 1px solid green;
    // height         : 50%;
    width          : 80%;
    height         : 30%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    perspective    : 1000px;
    text-align     : center;

    @media (min-width: 1200px) {
        width     : 50%;
        text-align: left;
    }

    .flip-box-inner {
        // border         : 1px lightgreen solid;
        position       : relative;
        width          : 100%;
        height         : 100%;
        transition     : transform 0.6s;
        transform-style: preserve-3d;
        cursor         : pointer;

        &:hover {
            transform: rotateX(180deg);
        }

        .flip-box-front,
        .flip-box-back {
            position                   : absolute;
            width                      : 100%;
            height                     : 100%;
            display                    : flex;
            flex-direction             : column;
            justify-content            : center;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility        : hidden;
        }
    }


    .flip-box-back {
        transform: rotateX(180deg);
    }


    h1,
    h3 {
        font                        : $name;
        // font-size              : calc(2rem + 5vw);
        // line-height            : 100%;
        //background-size           : 100%;
        background                  : linear-gradient(90deg, rgba(255, 255, 5, 1) 30%, rgba(144, 7, 240, 1) 70%, rgb(0, 41, 253) 100%);
        background-clip             : text;
        -webkit-background-clip     : text;
        -webkit-text-fill-color     : transparent;
        -moz-background-clip        : text;
        -moz-text-fill-color        : transparent;
    }

    h3 {
        font       : $jobtext;
        line-height: 110%;
    }

    #attention_pointer {
        position  : absolute;
        z-index   : 2;
        width     : 1.5rem;
        right     : -1vw;
        transition: all 1s;

        @media (max-width: 1200px) {
            right: 0vw;
        }

        @media (max-width: 600px) {
            right: 0vw;
            width: 1rem;
        }

        #pointer {
            fill: $blue;
        }
    }
}

#please_scroll {
    display          : flex;
    flex-direction   : column;
    justify-content  : space-between;
    align-items      : center;
    height           : auto;
    width            : 20vh;
    //border         : 1px red solid;
    position         : absolute;
    z-index          : 2;
    left             : calc(50% - 10vh);
    bottom           : 2rem;
    transition       : all 0.5s;

    h5 {
        font           : $paragraph;
        color          : $blue;
        //font-size    : 1rem;
        margin-bottom  : 2vh;
        text-align     : center;
    }

    #scroll_pointer {
        width: 1.5rem;

        #arrow {
            fill: $blue;
        }
    }
}

.pr {
    //border                           : 1px red solid;
    // $gap                 : 0px;
    scroll-snap-align                     : start;
    width                                 : 100%;
    height                                : 100%;
    //max-height                     : 700px;
    //align-self                       : center;
    // display                            : flex;
    // gap                  : $gap;
    padding                               : 3vw 3vw 3vw 3vw;

    @media (min-width: 480px) {
        //max-height: 100%;
    }

    @media (min-width: 1200px) {
        max-width: 1600px;
        margin   : auto;
        display  : flex;

        .pr_img {
            width: 60%;
        }

        .pr_text {
            width: 40%;
        }
    }


    &:nth-child(even) .pr_img {
        order: 1;
    }

    .pr_img,
    .pr_text {
        margin: 10vw 0 10vw 0;

        @media (min-width: 480px) {
            max-width: 600px;
            margin   : 15vw auto;
        }

        @media (min-width: 960px) {
            max-width: 800px;
            margin   : 10vw auto;
        }

        @media (min-width: 1200px) {
            max-width      : 100%;
            margin         : 0px;
            padding        : 5%;
            display        : flex;
            justify-content: center;
            align-items    : center;
        }

        img {
            width                : 100%;
            // height            : 94vw;
            object-fit           : cover;
            -webkit-box-shadow   : 5px 5px 10px 1px rgba(0, 0, 0, 0.4);
            box-shadow           : 5px 5px 10px 1px rgba(0, 0, 0, 0.4);

            @media (min-width: 480px) {
                width : 100%;
                height: auto;
            }
        }
    }

    .pr_text .text_container {
        h2 {
            font                   : $headline;
            background             : linear-gradient(90deg, rgba(255, 255, 5, 1) 9%, rgba(144, 7, 240, 1) 35%, rgba(0, 41, 253, 1) 45%);
            background-clip        : text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip   : text;
            -moz-text-fill-color   : transparent;
            margin-bottom          : 1rem;

            @media (min-width: 960px) {
                font-size    : 180%;
                margin-bottom: 1.5rem;
            }
        }

        p {
            color        : white;
            font         : $paragraph;
            margin-bottom: 1rem;

            @media (min-width: 960px) {
                font-size    : 110%;
                margin-bottom: 1.5rem;
            }
        }


        .links {
            width  : 100%;
            display: flex;

            a {
                margin-right: 2rem;
                transition  : all 0.5s;
            }

            i {
                color       : rgb(152, 142, 184);
                margin-right: 0.5rem;
            }

            h3 {
                display    : inline;
                font       : $paragraph;
                color      : rgb(126, 118, 150);
                font-weight: 400;

                @media (min-width: 960px) {
                    font-size    : 110%;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

.code:hover,
.website:hover {
    transform: scale(120%);
}

.contact {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;

    #some_icons {
        width          : calc(70%);
        display        : flex;
        justify-content: space-between;

        .icon {
            width           : calc(2rem + 5vw);
            transition      : all 0.5s;
            transform-origin: 50% 50%;
        }

        img.icon:hover {
            transform: scale(120%);
        }
    }

    #to_top_link {
        position   : absolute;
        color      : $blue;
        z-index    : 3;
        font       : $paragraph;
        font-size  : 120%;
        font-weight: 500;
        right      : 5vw;
        top        : 5vw;
    }
}

.logo {
    position                    : absolute;
    // width                    : 2vw;
    // height                   : 2vw;
    opacity                     : 1;
    background-size             : contain;
    background-repeat           : no-repeat;
    /* transform                : translateZ(100px); */
    /* transform-origin         : 50% 50% -80px; */
    /* border-radius            : 50%; */
}

.b_radius {
    border-radius: 15%;
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}