@use '../base/'as b;
@use '../components'as c;

#pills_a,
#pills_b {
    position      : absolute;
    pointer-events: none;
    z-index       : -1;
    width         : 50vw;
    transform     : translate(0vw, 0vw);
}

.pill_a,
.pill_b {
    stroke: b.$pill-fill1;
}