@use '../base/'as b;

.btn {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}

.btn button {
  font-size            : 1rem;
  border-radius        : 20px;
  padding              : 1rem 2rem;
  line-height          : 10%;
  letter-spacing       : 0.1em;
  text-transform       : uppercase;
  color                : b.$primary-color;
  border               : 1px solid b.$primary-color;
  background-color     : b.$transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius   : 20px;
  -ms-border-radius    : 20px;
  -o-border-radius     : 20px;
}

.btn button:hover {
  color           : b.$bg-color;
  border          : 1px solid b.$primary-color;
  background-color: b.$primary-color;
  cursor          : pointer;
  transition      : all 0.3s ease-in;
}

button[data-action="back"],
button[data-action="clear"] {
  border-color: b.$tint;
  color       : b.$tint;
  margin-right: 30%;
}