// Font imports and variables

// Import

@font-face {
  font-family: "Shapiro-regular";
  src: url("../../ezone-webfonts/sharpiro-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shapiro-bold";
  src: url("../../ezone-webfonts/sharpiro-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uniform-pro-con-black";
  src: url("../../ezone-webfonts/uniform-pro-con-black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uniform-pro-con-medium";
  src: url("../../ezone-webfonts/uniform-pro-con-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Variables
$headline: "Shapiro-bold", sans-serif; // font sizes: big = 3.5rem/56px/line-height: 3.8125, small = 1.5rem/24px/line-height: 1.5?, smaller = 1.25rem/20px/line-height: 1.5rem

$copy: "Shapiro-regular", sans-serif; // font size: 16px, word-spacing: 1px,

$button: "Uniform-pro-con-medium", sans-serif; // Used for buttons and the small tags with borders in the artcles on the Ezone website

$black: "Uniform-pro-con-black", sans-serif; // Not sure where we would use this?
